<p-checkbox [(ngModel)]="checked" label="Select the checkbox to filter passenger" binary="true" (click)="filterData()"></p-checkbox>
<br/><br/>

<p-table #dt [columns]="cols" [value]="passengerTickets" [responsive]="true" [paginator]="true" [rows]="10" styleClass="ui-table-customers" [resizableColumns]="true" [rowHover]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" *ngIf ="!checked">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn class="ui-column-title">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>
              Details Of Passenger
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngIf="col.field!='id'">
                        <input pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                </div>

            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" class="ui-selectable-row">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                 <div *ngIf="col.field=='id'">
                    <span class="ui-column-title">Edit</span>
                    <button pButton type="button"  (click)="ChangeData(rowData)" icon="pi pi-fw pi-user-edit" ></button>
                 </div>
                 <div *ngIf="col.field!='id'">
                    <span class="ui-column-title">{{col.header}}</span>
                    {{rowData[col.field]}}
                 </div>
            </td>
            <td>
                <span class="ui-column-title">View Details</span>
                <button pButton type="button"  (click)="DisplayData(rowData)" icon="pi pi-fw pi-user" ></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
  <!-- Dialog box to Change Passanger Details -->
<p-dialog header="Passenger Info" [(visible)]="displayDialog" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="passengerTicketsDetails">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="personName">Person Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="personName" [(ngModel)]="passengerTicketsDetails.personName" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="address">Address</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="address" [(ngModel)]="passengerTicketsDetails.address" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="passportNumber">Passport Number</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="passportNumber" [(ngModel)]="passengerTicketsDetails.passportNumber" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="email">Email</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="email" [(ngModel)]="passengerTicketsDetails.email" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-fw pi-save" (click)="updateData()" label="Update"></button>
        </div>
    </p-footer>
</p-dialog>
<!-- Dialog box to Display Passanger Details -->
<p-dialog header="Passenger Info" [(visible)]="displayDetailsDialog" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="passengerTicketsDetails">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="transactionId">Transaction Id:</label>
            </div>
            <div class="ui-g-8">

              {{passengerTicketsDetails.transactionId}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="personName">Person Name:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.personName}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="personAge">Person DOB:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.dob}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="gender">Gender:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.gender}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="address">Address:</label>
            </div>
            <div class="ui-g-8">

              {{passengerTicketsDetails.address}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="passportNumber">Passport Number:</label>
            </div>
            <div class="ui-g-8">
              {{passengerTicketsDetails.passportNumber}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="email">Email:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.email}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="mobileNumber">Mobile Number:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.mobileNumber}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flightnumber">Flight Number:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flightnumber}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flightname">Flight Name:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flightname}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flightorigin">Origin:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flightorigin}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flightdest">Destination:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flightdest}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flighttime">Flight Time:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flighttime}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="seat">Seat:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.seat}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="infantCount">Infant:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.infantCount}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="pnrNumber">PNR Number:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.pnrNumber}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="dateofjourney">Date Of Journey:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.dateofjourney}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="bookingDate">Booking Date:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.bookingDate}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="checkedin">Checked In:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.checkedin}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="childAllow">Child Allow:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.childAllow}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="wheelChairProvision">Wheel Chair:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.wheelChairProvision}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="shopping">Shopping:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.shopping}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="flightWifi">Flight Wifi:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.flightWifi}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-7">
                <label for="flightEntertainment">Entertainment:</label>
            </div>
            <div class="ui-g-5">
                {{passengerTicketsDetails.flightEntertainment}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="magazines">E magazines:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.magazines}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="fullMeal">Full Meal:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.fullMeal}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="miniMeal">Mini Meal:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.miniMeal}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="snackes">Snackes:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.snackes}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="drinks">Drinks:</label>
            </div>
            <div class="ui-g-8">
                {{passengerTicketsDetails.drinks}}
            </div>
        </div>
    </div>

</p-dialog>

<p-table #dt [columns]="cols" [value]="fiteredPassengerDetails" [responsive]="true" [paginator]="true" [rows]="10" styleClass="ui-table-customers" [resizableColumns]="true" [rowHover]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" *ngIf="checked">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn class="ui-column-title">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>
              Details Of Passenger
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngIf="col.field!='id'">
                        <input pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                </div>

            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" class="ui-selectable-row">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                 <div *ngIf="col.field=='id'">
                    <span class="ui-column-title">Edit</span>
                    <button pButton type="button"  (click)="ChangeData(rowData)" icon="pi pi-fw pi-user-edit" ></button>
                 </div>
                 <div *ngIf="col.field!='id'">
                    <span class="ui-column-title">{{col.header}}</span>
                    {{rowData[col.field]}}
                 </div>
            </td>
            <td>
                <span class="ui-column-title">View Details</span>
                <button pButton type="button"  (click)="DisplayData(rowData)" icon="pi pi-fw pi-user" ></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
